h1{
    color: midnightblue;
    text-align: center;
    
}
button{
    color: red;
}
p{
    color:black;
}
img{
    height: 200px;
    width: 200px;
}

:hover{
    text-decoration:none;

}
strong{
    font-weight: bold;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(42, 165, 108);
}
.spaced-text{
    line: height 1.5px;
}
.uppercase-text{
    text-transform:uppercase;

}